In [1]:
print("Hello World")

Hello World

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>DanCast</th>
      <th>Qiaosi</th>
      <th>CY20B</th>
      <th>ToneyToney</th>
      <th>Ceph17</th>
      <th>victimId</th>
      <th>killerId</th>
      <th>timestamp</th>
      <th>count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>9</th>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>[MasterYi, Karma, Thresh, Jinx, Amumu, Malzaha...</td>
      <td>[MissFortune, Anivia, Sona]</td>
      <td>[0.92, 28.7]</td>
      <td>23</td>
    </tr>
    <tr>
      <th>10</th>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>[Lucian, Irelia, MasterYi, Karma, Fiora, Jarva...</td>
      <td>[Volibear, MissFortune, Jax]</td>
      <td>[3.93, 36.03]</td>
      <td>19</td>
    </tr>
    <tr>
      <th>8</th>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>[Taric, Irelia, Karma, Jinx, Thresh, Brand, Ja...</td>
      <td>[MissFortune, Sona]</td>
      <td>[4.75, 17.84]</td>
      <td>15</td>
    </tr>
    <tr>
      <th>11</th>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>[Jayce, JarvanIV, Fiora, Amumu, Poppy, Kalista...</td>
      <td>[Anivia, Braum, Volibear, MissFortune, Jax, Ca...</td>
      <td>[12.89, 34.51]</td>
      <td>15</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>[Thresh, JarvanIV, Teemo, Graves, Zilean, Vayn...</td>
      <td>[Sona, Anivia, Cassiopeia]</td>
      <td>[12.18, 40.61]</td>
      <td>8</td>
    </tr>
    <tr>
      <th>7</th>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>[Fiora, Karma, Sylas, Poppy, Thresh]</td>
      <td>[Sona, Volibear, Jax, Anivia]</td>
      <td>[7.53, 29.84]</td>
      <td>8</td>
    </tr>
    <tr>
      <th>6</th>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>[Kalista, Zoe, Ezreal, Sylas, Shaco, Lucian]</td>
      <td>[Volibear, Sona, Jax]</td>
      <td>[4.53, 27.96]</td>
      <td>7</td>
    </tr>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>[Ezreal, Brand, Sylas, Morgana]</td>
      <td>[MissFortune]</td>
      <td>[11.59, 21.08]</td>
      <td>4</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>[Nunu, Kalista]</td>
      <td>[MissFortune]</td>
      <td>[17.49, 28.29]</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>[Zoe, Ezreal]</td>
      <td>[Volibear, Jax]</td>
      <td>[11.42, 20.99]</td>
      <td>2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>[Sylas, Zoe]</td>
      <td>[MissFortune, Volibear]</td>
      <td>[17.28, 23.4]</td>
      <td>2</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>[Poppy, Lucian]</td>
      <td>[Sona]</td>
      <td>[8.04, 14.42]</td>
      <td>2</td>
    </tr>
  </tbody>
</table><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>DanCast</th>
      <th>Qiaosi</th>
      <th>CY20B</th>
      <th>ToneyToney</th>
      <th>Ceph17</th>
      <th>victimId</th>
      <th>killerId</th>
      <th>timestamp</th>
      <th>count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>6</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>[Taric, Jayce, JarvanIV, Azir, Irelia, MasterY...</td>
      <td>[Anivia, Sion, MissFortune, Volibear, Urgot, S...</td>
      <td>[0.59, 37.94]</td>
      <td>31</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>[Lucian, MasterYi, Azir, Kalista, Thresh, Shac...</td>
      <td>[Volibear, Sion, MissFortune, Jax, Sona]</td>
      <td>[16.55, 40.06]</td>
      <td>18</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>[Gnar, MasterYi, Nunu, Thresh, Darius, Hecarim...</td>
      <td>[Braum, MissFortune, Sion, Anivia]</td>
      <td>[19.32, 37.88]</td>
      <td>10</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>[Nunu, Malzahar, Fiora, JarvanIV, Hecarim]</td>
      <td>[Volibear, Sion, Jax, Anivia]</td>
      <td>[1.02, 25.76]</td>
      <td>8</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>[MasterYi, Teemo, JarvanIV, Pyke]</td>
      <td>[Volibear, Sona, Sion, Jax]</td>
      <td>[16.39, 37.26]</td>
      <td>5</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>[Gnar, Sylas, Teemo]</td>
      <td>[Sion, MissFortune, Urgot]</td>
      <td>[19.86, 26.32]</td>
      <td>3</td>
    </tr>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>[Gnar, Jinx]</td>
      <td>[Volibear, Sion]</td>
      <td>[1.21, 23.35]</td>
      <td>2</td>
    </tr>
  </tbody>
</table><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>DanCast</th>
      <th>Qiaosi</th>
      <th>CY20B</th>
      <th>ToneyToney</th>
      <th>Ceph17</th>
      <th>victimId</th>
      <th>killerId</th>
      <th>timestamp</th>
      <th>count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>[Taric, Fiora, Azir, Sylas, Brand, Zoe, Graves...</td>
      <td>[Anivia, Cassiopeia]</td>
      <td>[3.42, 40.37]</td>
      <td>27</td>
    </tr>
    <tr>
      <th>5</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>[Fiora, Amumu, Karma, Brand, Poppy, Zoe, Nidal...</td>
      <td>[Volibear, Sion, Jax]</td>
      <td>[2.71, 17.27]</td>
      <td>13</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>[Jayce, Taric, JarvanIV, Karma, Sylas, Graves,...</td>
      <td>[Volibear, Anivia, Jax]</td>
      <td>[7.43, 29.51]</td>
      <td>10</td>
    </tr>
    <tr>
      <th>6</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>[Gnar, Nunu, Thresh, Ezreal, Sylas, Fiora, Hec...</td>
      <td>[Anivia, Volibear, Sion, Jax, Cassiopeia]</td>
      <td>[2.65, 26.62]</td>
      <td>9</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>[Graves, Poppy, Jayce, DrMundo, Lucian, Kaisa]</td>
      <td>[Sion]</td>
      <td>[2.97, 17.78]</td>
      <td>8</td>
    </tr>
    <tr>
      <th>10</th>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>[Azir, Karma, Brand, Zoe, Sylas, Thresh, Vayne]</td>
      <td>[Sion, Anivia, Urgot]</td>
      <td>[10.63, 28.46]</td>
      <td>8</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>[Amumu, Jinx, Poppy, Sylas, Thresh, Vladimir]</td>
      <td>[Anivia, Sion]</td>
      <td>[15.6, 26.12]</td>
      <td>6</td>
    </tr>
    <tr>
      <th>8</th>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>[Taric, JarvanIV, Thresh]</td>
      <td>[MissFortune, Anivia]</td>
      <td>[19.3, 25.26]</td>
      <td>4</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>[Jayce, Thresh, Nidalee]</td>
      <td>[Volibear, Jax]</td>
      <td>[6.06, 11.65]</td>
      <td>3</td>
    </tr>
    <tr>
      <th>9</th>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>[Zoe, JarvanIV]</td>
      <td>[Urgot]</td>
      <td>[15.45, 16.26]</td>
      <td>2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>[MasterYi]</td>
      <td>[MissFortune]</td>
      <td>[29.09, 29.09]</td>
      <td>1</td>
    </tr>
  </tbody>
</table><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>DanCast</th>
      <th>Qiaosi</th>
      <th>CY20B</th>
      <th>ToneyToney</th>
      <th>Ceph17</th>
      <th>buildingType</th>
      <th>towerType</th>
      <th>laneType</th>
      <th>killerId</th>
      <th>timestamp</th>
      <th>count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>11</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>[TOWER_BUILDING, INHIBITOR_BUILDING]</td>
      <td>[INNER_TURRET, NEXUS_TURRET, OUTER_TURRET, BAS...</td>
      <td>[MID_LANE, TOP_LANE]</td>
      <td>[Volibear, Sion, Anivia, Sona, MissFortune, Jax]</td>
      <td>[19.28, 40.48]</td>
      <td>15</td>
    </tr>
    <tr>
      <th>8</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>[INHIBITOR_BUILDING, TOWER_BUILDING]</td>
      <td>[UNDEFINED_TURRET, NEXUS_TURRET, OUTER_TURRET,...</td>
      <td>[BOT_LANE, MID_LANE, TOP_LANE]</td>
      <td>[MissFortune, Sona, Sion]</td>
      <td>[19.61, 39.58]</td>
      <td>9</td>
    </tr>
    <tr>
      <th>9</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>[INHIBITOR_BUILDING, TOWER_BUILDING]</td>
      <td>[UNDEFINED_TURRET, NEXUS_TURRET, OUTER_TURRET,...</td>
      <td>[MID_LANE, BOT_LANE]</td>
      <td>[Anivia, MissFortune]</td>
      <td>[20.63, 32.1]</td>
      <td>8</td>
    </tr>
    <tr>
      <th>10</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>[TOWER_BUILDING, INHIBITOR_BUILDING]</td>
      <td>[INNER_TURRET, UNDEFINED_TURRET, NEXUS_TURRET,...</td>
      <td>[MID_LANE, TOP_LANE, BOT_LANE]</td>
      <td>[MissFortune, Sona, Volibear, Sion]</td>
      <td>[15.75, 39.83]</td>
      <td>7</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>[TOWER_BUILDING]</td>
      <td>[OUTER_TURRET, INNER_TURRET, BASE_TURRET]</td>
      <td>[TOP_LANE, BOT_LANE]</td>
      <td>[MissFortune, Sona]</td>
      <td>[15.33, 28.86]</td>
      <td>6</td>
    </tr>
    <tr>
      <th>6</th>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>[TOWER_BUILDING]</td>
      <td>[OUTER_TURRET, NEXUS_TURRET, INNER_TURRET]</td>
      <td>[TOP_LANE, BOT_LANE, MID_LANE]</td>
      <td>[MissFortune, Sona, Jax]</td>
      <td>[13.01, 29.0]</td>
      <td>6</td>
    </tr>
    <tr>
      <th>7</th>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>[TOWER_BUILDING]</td>
      <td>[OUTER_TURRET, NEXUS_TURRET, INNER_TURRET]</td>
      <td>[BOT_LANE, MID_LANE]</td>
      <td>[MissFortune, Volibear, Cassiopeia]</td>
      <td>[12.65, 40.13]</td>
      <td>5</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>[TOWER_BUILDING]</td>
      <td>[INNER_TURRET, BASE_TURRET]</td>
      <td>[BOT_LANE, MID_LANE]</td>
      <td>[Urgot, Anivia, Sion]</td>
      <td>[13.34, 25.23]</td>
      <td>3</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>[TOWER_BUILDING, INHIBITOR_BUILDING]</td>
      <td>[INNER_TURRET, UNDEFINED_TURRET]</td>
      <td>[BOT_LANE, MID_LANE]</td>
      <td>[Sion, Cassiopeia]</td>
      <td>[13.47, 23.85]</td>
      <td>2</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>[TOWER_BUILDING]</td>
      <td>[OUTER_TURRET]</td>
      <td>[BOT_LANE]</td>
      <td>[Sona, MissFortune]</td>
      <td>[11.99, 16.43]</td>
      <td>2</td>
    </tr>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>[TOWER_BUILDING]</td>
      <td>[INNER_TURRET]</td>
      <td>[MID_LANE]</td>
      <td>[Anivia]</td>
      <td>[24.77, 24.77]</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>[INHIBITOR_BUILDING]</td>
      <td>[UNDEFINED_TURRET]</td>
      <td>[TOP_LANE]</td>
      <td>[Minion]</td>
      <td>[37.6, 37.6]</td>
      <td>1</td>
    </tr>
  </tbody>
</table><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>DanCast</th>
      <th>Qiaosi</th>
      <th>CY20B</th>
      <th>ToneyToney</th>
      <th>Ceph17</th>
      <th>buildingType</th>
      <th>towerType</th>
      <th>laneType</th>
      <th>killerId</th>
      <th>timestamp</th>
      <th>count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>[TOWER_BUILDING]</td>
      <td>[INNER_TURRET, OUTER_TURRET, NEXUS_TURRET, BAS...</td>
      <td>[TOP_LANE, BOT_LANE, MID_LANE]</td>
      <td>[Minion]</td>
      <td>[14.03, 37.08]</td>
      <td>8</td>
    </tr>
    <tr>
      <th>5</th>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>[TOWER_BUILDING, INHIBITOR_BUILDING]</td>
      <td>[OUTER_TURRET, BASE_TURRET, UNDEFINED_TURRET]</td>
      <td>[BOT_LANE, MID_LANE]</td>
      <td>[MissFortune, Minion]</td>
      <td>[20.06, 30.64]</td>
      <td>4</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>[TOWER_BUILDING]</td>
      <td>[OUTER_TURRET]</td>
      <td>[BOT_LANE, MID_LANE]</td>
      <td>[Minion, Anivia]</td>
      <td>[13.8, 15.05]</td>
      <td>3</td>
    </tr>
    <tr>
      <th>8</th>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>[TOWER_BUILDING]</td>
      <td>[BASE_TURRET]</td>
      <td>[BOT_LANE, MID_LANE]</td>
      <td>[Minion]</td>
      <td>[29.18, 29.18]</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>[TOWER_BUILDING]</td>
      <td>[BASE_TURRET]</td>
      <td>[MID_LANE]</td>
      <td>[Minion]</td>
      <td>[24.97, 24.97]</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>[TOWER_BUILDING]</td>
      <td>[NEXUS_TURRET]</td>
      <td>[MID_LANE]</td>
      <td>[Minion]</td>
      <td>[31.04, 31.04]</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>[TOWER_BUILDING]</td>
      <td>[INNER_TURRET]</td>
      <td>[MID_LANE]</td>
      <td>[Minion]</td>
      <td>[19.81, 19.81]</td>
      <td>1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>[TOWER_BUILDING]</td>
      <td>[NEXUS_TURRET]</td>
      <td>[MID_LANE]</td>
      <td>[Minion]</td>
      <td>[30.49, 30.49]</td>
      <td>1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>[INHIBITOR_BUILDING]</td>
      <td>[UNDEFINED_TURRET]</td>
      <td>[TOP_LANE]</td>
      <td>[Minion]</td>
      <td>[29.07, 29.07]</td>
      <td>1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>[TOWER_BUILDING]</td>
      <td>[BASE_TURRET]</td>
      <td>[TOP_LANE]</td>
      <td>[Minion]</td>
      <td>[28.43, 28.43]</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>[TOWER_BUILDING]</td>
      <td>[BASE_TURRET]</td>
      <td>[MID_LANE]</td>
      <td>[Minion]</td>
      <td>[26.13, 26.13]</td>
      <td>1</td>
    </tr>
  </tbody>
</table><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>DanCast</th>
      <th>Qiaosi</th>
      <th>CY20B</th>
      <th>ToneyToney</th>
      <th>Ceph17</th>
      <th>buildingType</th>
      <th>towerType</th>
      <th>laneType</th>
      <th>killerId</th>
      <th>timestamp</th>
      <th>count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>4</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>[TOWER_BUILDING]</td>
      <td>[OUTER_TURRET, INNER_TURRET, BASE_TURRET]</td>
      <td>[TOP_LANE, MID_LANE]</td>
      <td>[Sion, Jax, Volibear]</td>
      <td>[10.91, 18.01]</td>
      <td>8</td>
    </tr>
    <tr>
      <th>5</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>[TOWER_BUILDING]</td>
      <td>[OUTER_TURRET]</td>
      <td>[TOP_LANE, MID_LANE]</td>
      <td>[Anivia, Jax]</td>
      <td>[16.14, 21.05]</td>
      <td>4</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>[TOWER_BUILDING]</td>
      <td>[OUTER_TURRET, INNER_TURRET]</td>
      <td>[TOP_LANE, BOT_LANE]</td>
      <td>[Sion]</td>
      <td>[14.44, 15.36]</td>
      <td>2</td>
    </tr>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>[TOWER_BUILDING]</td>
      <td>[BASE_TURRET]</td>
      <td>[MID_LANE]</td>
      <td>[Jax]</td>
      <td>[32.17, 32.17]</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>[TOWER_BUILDING]</td>
      <td>[OUTER_TURRET]</td>
      <td>[MID_LANE]</td>
      <td>[Jax]</td>
      <td>[14.91, 14.91]</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>[TOWER_BUILDING]</td>
      <td>[INNER_TURRET]</td>
      <td>[TOP_LANE]</td>
      <td>[Sion]</td>
      <td>[14.11, 14.11]</td>
      <td>1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>[TOWER_BUILDING]</td>
      <td>[NEXUS_TURRET]</td>
      <td>[MID_LANE]</td>
      <td>[MissFortune]</td>
      <td>[13.69, 13.69]</td>
      <td>1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>[TOWER_BUILDING]</td>
      <td>[INNER_TURRET]</td>
      <td>[TOP_LANE]</td>
      <td>[Anivia]</td>
      <td>[30.32, 30.32]</td>
      <td>1</td>
    </tr>
    <tr>
      <th>8</th>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>[TOWER_BUILDING]</td>
      <td>[OUTER_TURRET]</td>
      <td>[MID_LANE]</td>
      <td>[Volibear]</td>
      <td>[20.03, 20.03]</td>
      <td>1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>[TOWER_BUILDING]</td>
      <td>[INNER_TURRET]</td>
      <td>[MID_LANE]</td>
      <td>[Sion]</td>
      <td>[21.2, 21.2]</td>
      <td>1</td>
    </tr>
  </tbody>
</table><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>DanCast</th>
      <th>Qiaosi</th>
      <th>CY20B</th>
      <th>ToneyToney</th>
      <th>Ceph17</th>
      <th>monsterSubType</th>
      <th>monsterType</th>
      <th>killerId</th>
      <th>timestamp</th>
      <th>count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>[nan]</td>
      <td>[RIFTHERALD, BARON_NASHOR]</td>
      <td>[Volibear, Jax]</td>
      <td>[11.67, 35.45]</td>
      <td>13</td>
    </tr>
  </tbody>
</table><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>DanCast</th>
      <th>Qiaosi</th>
      <th>CY20B</th>
      <th>ToneyToney</th>
      <th>Ceph17</th>
      <th>monsterSubType</th>
      <th>monsterType</th>
      <th>killerId</th>
      <th>timestamp</th>
      <th>count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>[EARTH_DRAGON, WATER_DRAGON, FIRE_DRAGON, AIR_...</td>
      <td>[DRAGON]</td>
      <td>[Volibear, Jax]</td>
      <td>[8.08, 37.86]</td>
      <td>21</td>
    </tr>
  </tbody>
</table><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>DanCast</th>
      <th>Qiaosi</th>
      <th>CY20B</th>
      <th>ToneyToney</th>
      <th>Ceph17</th>
      <th>monsterSubType</th>
      <th>monsterType</th>
      <th>killerId</th>
      <th>timestamp</th>
      <th>count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>[nan, AIR_DRAGON]</td>
      <td>[BARON_NASHOR, DRAGON]</td>
      <td>[Anivia]</td>
      <td>[15.79, 27.74]</td>
      <td>3</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>[nan, EARTH_DRAGON, WATER_DRAGON]</td>
      <td>[BARON_NASHOR, DRAGON]</td>
      <td>[MissFortune]</td>
      <td>[18.24, 25.74]</td>
      <td>3</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>[AIR_DRAGON, EARTH_DRAGON]</td>
      <td>[DRAGON]</td>
      <td>[Urgot, Sion]</td>
      <td>[20.36, 25.92]</td>
      <td>2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>[AIR_DRAGON]</td>
      <td>[DRAGON]</td>
      <td>[Sona]</td>
      <td>[27.31, 27.31]</td>
      <td>1</td>
    </tr>
  </tbody>
</table>

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>DanCast</th>
      <th>Qiaosi</th>
      <th>CY20B</th>
      <th>ToneyToney</th>
      <th>Ceph17</th>
      <th>victimId</th>
      <th>killerId</th>
      <th>timestamp</th>
      <th>count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>[Morgana, Heimerdinger, Neeko, Alistar, Lux, R...</td>
      <td>[Anivia]</td>
      <td>[10.66, 33.18]</td>
      <td>16</td>
    </tr>
    <tr>
      <th>5</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>[Teemo, Volibear, Irelia, Urgot, Darius, Sivir]</td>
      <td>[Jax, Sion, Volibear]</td>
      <td>[3.54, 17.17]</td>
      <td>8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>[Nautilus, Ekko, Ezreal, Leona]</td>
      <td>[Anivia, Sion]</td>
      <td>[20.12, 39.85]</td>
      <td>7</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>[Ekko, Nunu, Ezreal, Irelia, MasterYi, Urgot]</td>
      <td>[Sion]</td>
      <td>[4.06, 31.46]</td>
      <td>6</td>
    </tr>
    <tr>
      <th>6</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>[Zed, Urgot, Zac, Taric]</td>
      <td>[Jax, Volibear, Sion, Anivia]</td>
      <td>[15.89, 27.11]</td>
      <td>5</td>
    </tr>
    <tr>
      <th>7</th>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>[Kaisa, Nunu, Leona, Urgot]</td>
      <td>[Anivia, Sion, MissFortune]</td>
      <td>[15.96, 33.98]</td>
      <td>5</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>[Vi, Heimerdinger, Alistar, Lux]</td>
      <td>[Vladimir, Anivia, XinZhao]</td>
      <td>[3.34, 16.96]</td>
      <td>4</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>[Rengar, MasterYi, Karma]</td>
      <td>[Anivia, Sion]</td>
      <td>[15.56, 32.77]</td>
      <td>4</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>[Vi, Rengar]</td>
      <td>[Jax, XinZhao]</td>
      <td>[11.22, 21.83]</td>
      <td>2</td>
    </tr>
  </tbody>
</table><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>DanCast</th>
      <th>Qiaosi</th>
      <th>CY20B</th>
      <th>ToneyToney</th>
      <th>Ceph17</th>
      <th>victimId</th>
      <th>killerId</th>
      <th>timestamp</th>
      <th>count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10</th>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>[Nautilus, Morgana, Heimerdinger, Kaisa, Vi, T...</td>
      <td>[Anivia, MissFortune, Sona, XinZhao, Jax, Voli...</td>
      <td>[1.2, 33.7]</td>
      <td>17</td>
    </tr>
    <tr>
      <th>8</th>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>[Blitzcrank, Heimerdinger, Morgana, Thresh, Al...</td>
      <td>[MissFortune, Anivia, Sona]</td>
      <td>[9.25, 37.21]</td>
      <td>14</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>[Nautilus, Leona, Volibear, Jhin, Karma, Vayne...</td>
      <td>[Anivia, Sona]</td>
      <td>[12.83, 27.71]</td>
      <td>10</td>
    </tr>
    <tr>
      <th>7</th>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>[Kaisa, Neeko, Ezreal, Leona, Karma, Zyra, Vei...</td>
      <td>[Sona, MissFortune]</td>
      <td>[4.34, 32.77]</td>
      <td>9</td>
    </tr>
    <tr>
      <th>9</th>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>[Vi, Karma, Vayne, Zyra, MasterYi, Veigar, Braum]</td>
      <td>[Jax, Sona, Volibear, MissFortune]</td>
      <td>[2.04, 21.4]</td>
      <td>8</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>[Zoe, Zac, Taric]</td>
      <td>[Anivia, Jax]</td>
      <td>[7.71, 26.61]</td>
      <td>3</td>
    </tr>
    <tr>
      <th>6</th>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>[Vladimir, Urgot, Taric]</td>
      <td>[Jax, Sona]</td>
      <td>[24.13, 30.92]</td>
      <td>3</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>[Zed, Vayne]</td>
      <td>[MissFortune]</td>
      <td>[25.97, 26.26]</td>
      <td>2</td>
    </tr>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>[Vi]</td>
      <td>[MissFortune]</td>
      <td>[18.51, 18.51]</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>[Jhin]</td>
      <td>[Sona]</td>
      <td>[2.74, 2.74]</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>[Zyra]</td>
      <td>[Volibear]</td>
      <td>[11.99, 11.99]</td>
      <td>1</td>
    </tr>
  </tbody>
</table><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>DanCast</th>
      <th>Qiaosi</th>
      <th>CY20B</th>
      <th>ToneyToney</th>
      <th>Ceph17</th>
      <th>victimId</th>
      <th>killerId</th>
      <th>timestamp</th>
      <th>count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>8</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>[Nautilus, Xayah, Thresh, Volibear, Leona, Vla...</td>
      <td>[MissFortune, Jax, Sona, Anivia, Volibear, Sion]</td>
      <td>[0.58, 35.79]</td>
      <td>21</td>
    </tr>
    <tr>
      <th>7</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>[Morgana, Neeko, Vi, Ekko, Zed, Volibear, Reng...</td>
      <td>[Jax, MissFortune, Braum, Sion, XinZhao]</td>
      <td>[17.7, 36.89]</td>
      <td>16</td>
    </tr>
    <tr>
      <th>6</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>[Teemo, Morgana, Vi, Leona, Jhin, Zoe, Sejuani...</td>
      <td>[Vladimir, MissFortune, Anivia, Sion, Sona]</td>
      <td>[18.76, 31.02]</td>
      <td>13</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>[Heimerdinger, Zed, Thresh, Kaisa, Alistar, Ve...</td>
      <td>[Jax, Sion, Anivia, Volibear]</td>
      <td>[19.93, 32.52]</td>
      <td>9</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>[Neeko, Poppy, Rengar, Irelia, Vladimir]</td>
      <td>[Sona, Jax, Sion, XinZhao]</td>
      <td>[17.54, 31.46]</td>
      <td>7</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>[Xayah, Kaisa, Darius, JarvanIV]</td>
      <td>[Sona, MissFortune, Sion]</td>
      <td>[20.53, 30.84]</td>
      <td>5</td>
    </tr>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>[Rengar, Volibear]</td>
      <td>[MissFortune, XinZhao]</td>
      <td>[15.53, 27.66]</td>
      <td>2</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>[Poppy, Darius]</td>
      <td>[MissFortune, Volibear]</td>
      <td>[26.78, 27.19]</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>[Zed]</td>
      <td>[Sona]</td>
      <td>[27.6, 27.6]</td>
      <td>1</td>
    </tr>
  </tbody>
</table><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>DanCast</th>
      <th>Qiaosi</th>
      <th>CY20B</th>
      <th>ToneyToney</th>
      <th>Ceph17</th>
      <th>buildingType</th>
      <th>towerType</th>
      <th>laneType</th>
      <th>killerId</th>
      <th>timestamp</th>
      <th>count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>[TOWER_BUILDING]</td>
      <td>[OUTER_TURRET]</td>
      <td>[BOT_LANE, MID_LANE]</td>
      <td>[Jax, Anivia]</td>
      <td>[20.31, 23.62]</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>[TOWER_BUILDING]</td>
      <td>[OUTER_TURRET]</td>
      <td>[TOP_LANE, BOT_LANE]</td>
      <td>[Sion]</td>
      <td>[18.51, 18.88]</td>
      <td>2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>[TOWER_BUILDING]</td>
      <td>[OUTER_TURRET]</td>
      <td>[TOP_LANE]</td>
      <td>[Volibear, Sion]</td>
      <td>[16.06, 17.65]</td>
      <td>2</td>
    </tr>
    <tr>
      <th>6</th>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>[TOWER_BUILDING]</td>
      <td>[OUTER_TURRET]</td>
      <td>[TOP_LANE, MID_LANE]</td>
      <td>[Anivia]</td>
      <td>[16.8, 24.0]</td>
      <td>2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>[TOWER_BUILDING]</td>
      <td>[OUTER_TURRET]</td>
      <td>[BOT_LANE, TOP_LANE]</td>
      <td>[Jax, Sona]</td>
      <td>[16.23, 20.5]</td>
      <td>2</td>
    </tr>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>[TOWER_BUILDING]</td>
      <td>[OUTER_TURRET]</td>
      <td>[BOT_LANE]</td>
      <td>[Jax]</td>
      <td>[25.09, 25.09]</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>[TOWER_BUILDING]</td>
      <td>[INNER_TURRET]</td>
      <td>[TOP_LANE]</td>
      <td>[Sion]</td>
      <td>[27.93, 27.93]</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>[TOWER_BUILDING]</td>
      <td>[OUTER_TURRET]</td>
      <td>[BOT_LANE]</td>
      <td>[Sona]</td>
      <td>[23.6, 23.6]</td>
      <td>1</td>
    </tr>
  </tbody>
</table><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>DanCast</th>
      <th>Qiaosi</th>
      <th>CY20B</th>
      <th>ToneyToney</th>
      <th>Ceph17</th>
      <th>buildingType</th>
      <th>towerType</th>
      <th>laneType</th>
      <th>killerId</th>
      <th>timestamp</th>
      <th>count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>[TOWER_BUILDING]</td>
      <td>[INNER_TURRET, BASE_TURRET]</td>
      <td>[MID_LANE]</td>
      <td>[Minion, MissFortune, Sona]</td>
      <td>[21.31, 31.84]</td>
      <td>3</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>[TOWER_BUILDING, INHIBITOR_BUILDING]</td>
      <td>[OUTER_TURRET, UNDEFINED_TURRET, INNER_TURRET]</td>
      <td>[MID_LANE, BOT_LANE]</td>
      <td>[Anivia, XinZhao, Sion]</td>
      <td>[25.2, 35.33]</td>
      <td>3</td>
    </tr>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>[TOWER_BUILDING]</td>
      <td>[OUTER_TURRET]</td>
      <td>[BOT_LANE, MID_LANE]</td>
      <td>[MissFortune]</td>
      <td>[14.53, 20.76]</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>[TOWER_BUILDING]</td>
      <td>[OUTER_TURRET]</td>
      <td>[MID_LANE, BOT_LANE]</td>
      <td>[Sona, MissFortune]</td>
      <td>[24.14, 25.25]</td>
      <td>2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>[TOWER_BUILDING]</td>
      <td>[INNER_TURRET]</td>
      <td>[MID_LANE]</td>
      <td>[MissFortune]</td>
      <td>[23.42, 23.42]</td>
      <td>1</td>
    </tr>
  </tbody>
</table><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>DanCast</th>
      <th>Qiaosi</th>
      <th>CY20B</th>
      <th>ToneyToney</th>
      <th>Ceph17</th>
      <th>buildingType</th>
      <th>towerType</th>
      <th>laneType</th>
      <th>killerId</th>
      <th>timestamp</th>
      <th>count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>[TOWER_BUILDING]</td>
      <td>[INNER_TURRET, OUTER_TURRET]</td>
      <td>[BOT_LANE, TOP_LANE, MID_LANE]</td>
      <td>[Minion]</td>
      <td>[19.5, 30.83]</td>
      <td>4</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>[TOWER_BUILDING]</td>
      <td>[OUTER_TURRET]</td>
      <td>[TOP_LANE, MID_LANE]</td>
      <td>[Minion, Anivia]</td>
      <td>[16.94, 18.21]</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>[TOWER_BUILDING]</td>
      <td>[INNER_TURRET]</td>
      <td>[MID_LANE]</td>
      <td>[Minion]</td>
      <td>[26.65, 26.65]</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>[TOWER_BUILDING]</td>
      <td>[OUTER_TURRET]</td>
      <td>[MID_LANE]</td>
      <td>[Minion]</td>
      <td>[31.57, 31.57]</td>
      <td>1</td>
    </tr>
  </tbody>
</table><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>DanCast</th>
      <th>Qiaosi</th>
      <th>CY20B</th>
      <th>ToneyToney</th>
      <th>Ceph17</th>
      <th>monsterSubType</th>
      <th>monsterType</th>
      <th>killerId</th>
      <th>timestamp</th>
      <th>count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>[WATER_DRAGON, nan, FIRE_DRAGON]</td>
      <td>[DRAGON, RIFTHERALD, BARON_NASHOR]</td>
      <td>[Jax, XinZhao]</td>
      <td>[7.55, 29.03]</td>
      <td>11</td>
    </tr>
  </tbody>
</table><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>DanCast</th>
      <th>Qiaosi</th>
      <th>CY20B</th>
      <th>ToneyToney</th>
      <th>Ceph17</th>
      <th>monsterSubType</th>
      <th>monsterType</th>
      <th>killerId</th>
      <th>timestamp</th>
      <th>count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>[EARTH_DRAGON, FIRE_DRAGON, WATER_DRAGON, AIR_...</td>
      <td>[DRAGON]</td>
      <td>[Jax, XinZhao, Volibear]</td>
      <td>[17.89, 34.5]</td>
      <td>7</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>[AIR_DRAGON]</td>
      <td>[DRAGON]</td>
      <td>[MissFortune]</td>
      <td>[28.74, 28.74]</td>
      <td>1</td>
    </tr>
  </tbody>
</table><table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>DanCast</th>
      <th>Qiaosi</th>
      <th>CY20B</th>
      <th>ToneyToney</th>
      <th>Ceph17</th>
      <th>monsterSubType</th>
      <th>monsterType</th>
      <th>killerId</th>
      <th>timestamp</th>
      <th>count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>[nan]</td>
      <td>[BARON_NASHOR]</td>
      <td>[Anivia]</td>
      <td>[30.17, 30.17]</td>
      <td>1</td>
    </tr>
  </tbody>
</table>